In [ ]:
#Eastvantage Assignment

In [40]:
import sqlite3
con = sqlite3.connect("EastVantage_Business1.db")
cur = con.cursor()

In [41]:
cur.execute("DROP TABLE IF EXISTS sales")
cur.execute("DROP TABLE IF EXISTS customers")
cur.execute("DROP TABLE IF EXISTS orders")
cur.execute("DROP TABLE IF EXISTS items")

In [42]:
cur.execute("CREATE TABLE IF NOT EXISTS sales ( Sales_id INTEGER PRIMARY KEY,customer_id INTEGER,FOREIGN KEY (customer_id) REFERENCES customers(customer_id))")

cur.execute("CREATE TABLE IF NOT EXISTS customers (customer_id INTEGER PRIMARY KEY,age INTEGER)")

cur.execute("CREATE TABLE IF NOT EXISTS orders (order_id INTEGER PRIMARY KEY,sales_id INTEGER,item_id INTEGER,quantity INTEGER,FOREIGN KEY (sales_id) REFERENCES sales(Sales_id),FOREIGN KEY (item_id) REFERENCES items(item_id))")

cur.execute("CREATE TABLE IF NOT EXISTS items (item_id INTEGER PRIMARY KEY,item_name TEXT)")
            
cur.execute("""INSERT INTO sales (Sales_id, customer_id) VALUES
(1, 101),
(2, 102),
(3, 103),
(4, 104),
(5, 105),
(6, 106),
(7, 107),
(8, 108),
(9, 109),
(10, 110)
""")
            
cur.execute("""INSERT INTO customers (customer_id, age) VALUES
(101, 30),
(102, 35),
(103, 25),
(104, 40),
(105, 28),
(106, 45),
(107, 50),
(108, 22),
(109, 38),
(110, 29)
""")




cur.execute("""INSERT INTO orders (order_id, sales_id, item_id, quantity) VALUES
(1, 1, 1, 5),
(2, 2, 2, 3),
(3, 3, 3, 2),
(4, 4, 4, 7),
(5, 5, 5, 1),
(6, 6, 6, 4),
(7, 7, 7, 6),
(8, 8, 8, 2),
(9, 9, 9, 3),
(10, 10, 10, 8)
""")




cur.execute("""INSERT INTO items (item_id, item_name) VALUES
(1, 'Product A'),
(2, 'Product B'),
(3, 'Product C'),
(4, 'Product D'),
(5, 'Product E'),
(6, 'Product F'),
(7, 'Product G'),
(8, 'Product H'),
(9, 'Product I'),
(10, 'Product J')
""")

In [45]:
#pandas solution

import pandas as pd 
sql_query = """
SELECT c.customer_id,c.age,o.item_id,SUM(o.quantity) AS total_quantity
FROM sales s
JOIN customers c ON s.customer_id = c.customer_id
JOIN orders o ON s.sales_id=o.sales_id
WHERE c.age BETWEEN 18 AND 35
GROUP BY c.customer_id, o.item_id
HAVING total_quantity > 0
"""



df = pd.read_sql_query(sql_query, con)

# Write DataFrame to CSV file with semicolon delimiter
df.to_csv('per_customer_items_quantities.csv', sep=';', index=False)

# Close the connection
con.close()


###################################################################

#Sql solution

sql_query = """
SELECT c.customer_id,c.age,o.item_id,SUM(o.quantity) AS total_quantity
FROM sales s
JOIN customers c ON s.customer_id = c.customer_id
JOIN orders o ON s.sales_id=o.sales_id
WHERE c.age BETWEEN 18 AND 35
GROUP BY c.customer_id, o.item_id
HAVING total_quantity > 0
"""

res=cur.execute(sql_query)
res.fetchall()

ProgrammingError: Cannot operate on a closed database.

In [36]:
# res1 = cur.execute("SELECT * FROM sales")
# res1.fetchall()
res2 = cur.execute("SELECT * FROM customers")
res2.fetchall()
# res3 = cur.execute("SELECT * FROM orders")
# res3.fetchall()
# res4 = cur.execute("SELECT * FROM items")
# res4.fetchall()

OperationalError: no such table: customers